.card {
    background-color: #0a0a0a;
    columns: #b7b7b7;
}

.card-text {
    color: #b7b7b7;
}

.navbar {
    background-color: #0a0a0a;
    color: #b7b7b7;
}

.nav-link {
    color: #b7b7b7;
}

.navbar-brand {
    color: #b7b7b7;
}

.card-title {
    color: #b7b7b7;
}